* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #D4A886;
    --secondary-color: #8B9AAC;
    --cardbackgroundcol: #3159BC;
    --body-text: #333333;
    --body-text-2: #36454F;
    --textonblue: #C0C0C0;
}

body {
    font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
    background-color: var(--primary-color);
}